body {
}
body {
    font-family: arial, Helvetica, sans-serif;
    font-size: medium;
}
.title {
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.input{
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
}
